<component name="ArtifactManager">
  <artifact type="war" name="SpringWebMvcTest:war">
    <output-path>$PROJECT_DIR$/SpringWebMvcTest/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringWebMvcTest</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringWebMvcTest.war">
      <element id="artifact" artifact-name="SpringWebMvcTest:war exploded" />
    </root>
  </artifact>
</component>